name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Cache sbt
      uses: actions/cache@v5
      with:
        path: |
          ~/.sbt
          ~/.ivy2/cache
          ~/.cache/coursier
        key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 11
        distribution: 'adopt'
    - uses: sbt/setup-sbt@v1
    - name: Run tests
      run: sbt test

#   versionpolicycheck:
#     name: Version policy check
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - name: Cache sbt
#         uses: actions/cache@v2
#         with:
#           path: |
#             ~/.sbt
#             ~/.ivy2/cache
#             ~/.cache/coursier
#           key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
#       - name: Set up JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11
#       - name: Version check
#         run: sbt versionPolicyCheck
